.Header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgb(68, 129, 209);
}
